<div id="title">
  <h1 style=" text-align: center;"> Przypisanie graczy</h1>
</div>

<div style="text-align: center;" class="controls">
  <button mat-raised-button color="accent" (click)="save()">Zapisz </button>
  <button mat-raised-button (click)="exit()">Wyjdź</button>
</div>

<div class="container">
  <table mat-table [dataSource]="nations" matSort class="mat-elevation-z8">
    <!-- Kolumna z nazwą państwa -->
    <ng-container matColumnDef="nation">
      <th mat-header-cell *matHeaderCellDef> Państwo </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <!-- Kolumna z polem rozwijanym -->
    <ng-container matColumnDef="person">
      <th mat-header-cell *matHeaderCellDef> Osoba </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="element.selectedPerson" placeholder="Wybierz użytkownika"
            (selectionChange)="updateOptions(element.selectedPerson)">
            <mat-option *ngFor="let user of users" [value]="user" [disabled]="usedUsers.has(user)">
              {{ user }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Nagłówki i wiersze -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>