<h2 mat-dialog-title>{{isEditing ? 'Edycja Grupy Społecznej' : 'Dodawanie Grupy Społecznej'}}</h2>
<mat-dialog-content>
  <mat-form-field>
    Nazwa
    <input matInput [(ngModel)]="item.name" required maxlength="255"/>
  </mat-form-field>

  <mat-form-field>
    Bazowe zadowolenie
    <input matInput [(ngModel)]="item.baseSatisfaction" type="number" required min = "0" max="1" />
  </mat-form-field>

  <mat-form-field>
    Ilość Ochotników
    <input matInput [(ngModel)]="item.recruitmentSize" type="number" required min = "0" />
  </mat-form-field>


<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
