<h2 mat-dialog-title>{{isEditing ? 'Edycja populacji' : 'Dodawanie populacji'}}</h2>
<mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]=" item.socialGroupId" placeholder=" Wybierz grupę społeczną">
      <mat-option *ngFor="let group of groups()" [value]="group.id">
        {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="item.cultureId" placeholder="Wybierz kulturę">
      <mat-option *ngFor="let culture of cultures()" [value]="culture.id">
        {{ culture.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="item.religionId" placeholder="Wybierz religię">
      <mat-option *ngFor="let religion of religions()" [value]="religion.id">
        {{ religion.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="item.locationId" placeholder="Wybierz lokalizację">
      <mat-option *ngFor="let loc of localisations()" [value]="loc.id">
        {{ loc.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    Zadowolenie
    <input matInput [(ngModel)]="item.happiness" type="number" required />
  </mat-form-field>

  <div *ngIf="!isEditing" appearance="fill">
    <mat-form-field>
      Liczebność
      <input matInput [(ngModel)]="count" type="number" required />
    </mat-form-field>

  </div>


  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>